.container{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.nav-item>ul{
    display: flex;
    list-style-type: none;
    margin-top: 20px;
}

.nav-item>ul>li{
 padding: 10px;
 margin: 2px;
 align-items: center;
}

.logo{
    width: 80px;
    height: 66px;
}